---
import BaseLayout from "../layouts/BaseLayout.astro";

import sicpCover from "../images/sicp.png";
import sicpJSCover from "../images/sicpjs.png";

import { bookLinks } from "../site.config";
import githubIcon from "../images/github_icon.png";
import linkedinIcon from "../images/linkedin_icon.png";
import twitterIcon from "../images/twitter_logo.png";
---

<BaseLayout>
  <div class="flex flex-col gap-10 text-sm">
    <section>
      <h1>Welcome SICP-JS Readers!</h1>
      <p>
        The <strong>SICP-JS</strong> stands for the book <em
          >Structure and Interpretation of Computer Programs, JavaScript Edition</em
        >, writen by Harold Abelson and Gerald Jay Sussman, adapted to
        JavaScript by Martin Henz and Tobias Wrigstad with Julie Sussman
      </p>
      <div class="flex gap-16 justify-center my-10 px-10">
        <figure>
          <img src={sicpJSCover.src} alt="sicp js book cover" />
          <figcaption>
            SICP JavaScript Version (2022) <a
              href={bookLinks.sicpjs.amazon}
              target="_blank">[Amazon]</a
            ><a href={bookLinks.sicpjs.mit} target="_blank">[MIT Press]</a>
          </figcaption>
        </figure>
        <figure>
          <img src={sicpCover.src} alt="sicp book cover" />
          <figcaption>
            SICP Original Version (1996 2nd ed.) <a
              href={bookLinks.sicp.amazon}
              target="_blank">[Amazon]</a
            >
            <a href={bookLinks.sicp.mit} target="_blank">[MIT Press]</a>
          </figcaption>
        </figure>
      </div>
    </section>
  </div>

  <section>
    <h1>About Me</h1>
    <p>
      My name is Terrence (Tingsong) Ou, where Tingsong is my legal name. I born
      and grew up in China and relocate to the United States at my age of 28. I
      was a previous Architect but found Computer Science very attractive at 31,
      particularily Frontend Development and Machine Learning. Therefore I'm a
      starter of CS learning every bits from scratch.
    </p>

    <h3>Find me on:</h3>
    <table>
      <tbody>
        <tr>
          <th scope="row">Github:</th>
          <td>
            <img src={githubIcon.src} class="link-icon" />
            <a href="https://github.com/terrence-ou" target="_blank"
              >https://github.com/terrence-ou
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">LinkedIn:</th>
          <td>
            <img src={linkedinIcon.src} class="link-icon" />
            <a
              href="https://www.linkedin.com/in/tingsong-ou-231931196/"
              target="_blank"
              >https://www.linkedin.com/in/tingsong-ou-231931196/
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">X (Twitter):</th>
          <td>
            <img src={twitterIcon.src} class="link-icon" />
            <a href="https://twitter.com/ou_terrenceu" target="_blank"
              >https://twitter.com/ou_terrence
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</BaseLayout>

<style>
  h1 {
    @apply my-2 tracking-wide;
  }
  h3 {
    @apply mb-2;
  }

  th {
    @apply text-left w-32 py-0.5 font-normal;
  }

  tr {
    @apply text-sm;
  }

  td {
    @apply flex gap-3 items-center;
  }

  td a {
    @apply text-xs tracking-tight;
  }

  figcaption {
    @apply text-center mt-3.5;
  }

  img {
    @apply grayscale-[65%] opacity-70 duration-100 rounded-md hover:grayscale-0 hover:opacity-100 hover:rounded-none;
  }

  .link-icon {
    @apply h-5;
  }
</style>
