---
import BaseLayout from "../layouts/BaseLayout.astro";

import sicpCover from "../images/sicp.png";
import sicpJSCover from "../images/sicpjs.png";

import { bookLinks } from "../site.config";
import githubIcon from "../images/github_icon.png";
import linkedinIcon from "../images/linkedin_icon.png";
import twitterIcon from "../images/twitter_logo.png";
---

<BaseLayout>
  <div class="flex flex-col gap-6" id="hompage">
    <section>
      <h1>Welcome SICP-JS Readers!</h1>
      <p>
        The <strong>SICP-JS</strong> stands for the book <em
          >Structure and Interpretation of Computer Programs, JavaScript Edition</em
        >, written by Harold Abelson and Gerald Jay Sussman and adapted to
        JavaScript by Martin Henz and Tobias Wrigstad with Julie Sussman. The
        objective of this tiny side project is to push me to learn the book in
        depth and share my answers to the exercises in the book with readers who
        occasionally find this page.
      </p>
      <p>
        I will inevitably make many mistakes in these exercises, therefore, if
        you find any incorrect or ambiguous solutions on this website, please
        feel free to contact me on Twitter or LinkedIn (contact info listed
        below), or create an issue/PR to this repository. I'd really appreciate
        your precious opinions!
      </p>
      <div class="flex gap-16 justify-center my-10 px-16">
        <figure>
          <img src={sicpJSCover.src} alt="sicp js book cover" />
          <figcaption>
            SICP JavaScript Version (2022) <br /><a
              href={bookLinks.sicpjs.amazon}
              target="_blank">[Amazon]</a
            ><a href={bookLinks.sicpjs.mit} target="_blank">[MIT Press]</a>
          </figcaption>
        </figure>
        <figure>
          <img src={sicpCover.src} alt="sicp book cover" />
          <figcaption>
            SICP Original Version (1996 2nd ed.) <br /><a
              href={bookLinks.sicp.amazon}
              target="_blank">[Amazon]</a
            >
            <a href={bookLinks.sicp.mit} target="_blank">[MIT Press]</a>
          </figcaption>
        </figure>
      </div>
    </section>

    <section>
      <h3 class="mt-8">Find me on:</h3>
      <table>
        <tbody>
          <tr>
            <th scope="row">Github:</th>
            <td>
              <img src={githubIcon.src} class="link-icon" />
              <a href="https://github.com/terrence-ou" target="_blank"
                >https://github.com/terrence-ou
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">X (Twitter):</th>
            <td>
              <img src={twitterIcon.src} class="link-icon" />
              <a href="https://twitter.com/ou_terrence" target="_blank"
                >https://twitter.com/ou_terrence
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</BaseLayout>

<style>
  em {
    @apply font-extrabold text-dark-sky underline decoration-wavy decoration-1;
  }

  h3 {
    @apply mb-2;
  }

  th {
    @apply text-left w-32 py-0.5 font-normal;
  }

  tr {
    @apply text-sm h-7 flex items-center;
  }

  td {
    @apply flex gap-3 items-center;
  }

  td a {
    @apply text-xs tracking-tight;
  }

  figcaption {
    @apply text-center mt-3.5 text-sm leading-5;
  }

  img {
    @apply grayscale-[65%] opacity-70 duration-100 rounded-md hover:grayscale-0 hover:opacity-100 hover:rounded-none;
  }

  .link-icon {
    @apply h-5 opacity-100;
  }
</style>
