---
import BaseLayout from "./BaseLayout.astro";
import Contents from "../components/Contents.astro";
const { frontmatter } = Astro.props;
const { chapter, section, chapterTitle, sectionTitle, range } = frontmatter;
---

<BaseLayout>
  <div class="grid grid-cols-4 gap-8">
    <div class="col-span-3">
      <h1>Chapter {chapter} - {chapterTitle}</h1>
      <h2>{chapter}.{section} {sectionTitle}</h2>
      <div class="overview">This part includes exercise {range}</div>
      <slot />
    </div>
    <Contents range={range} currChapter={chapter} />
  </div>
</BaseLayout>

<style>
  h1 {
    @apply mb-6;
  }

  h2 {
    @apply font-medium;
  }

  .overview {
    @apply text-center py-5 my-8 text-zinc-600 border border-dashed border-zinc-500 bg-zinc-100 dark:bg-zinc-700 dark:text-zinc-300 text-sm;
  }
</style>
